@model RazorViewToString.InNonWeb.Models.ProfileModel

<html>
<body>
    <table>
        <tr>
            <td>First Name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Model.LastName</td>
        </tr>
    </table>
</body>
</html>